* {
    font-family:'Times New Roman', Times, serif
}

#card {
    height: 120vh;
    width: 100%;
}

label {
    font-weight: 600;
    color: #5c5b5b;
}

label:after {
    content: '*';
    color: #ff0000;
}

textarea {
    resize: none;
}

.hide {
    display: none;
    transition: all 3s;
}

.todos {
    overflow: auto;
    height: 100%;
    max-height: 60vh;
    border: 2px dashed #5c5b5b;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #ff0000;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* width */
.todos::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%;
}
  
/* Track */
.todos::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.todos::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.todos::-webkit-scrollbar-thumb:hover {
    background: #555; 
}